Options -Indexes
Options +FollowSymLinks
RewriteEngine on
# Redirect all user to without WWW
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]
# Serve Drupal 7 from sub directory in web root
RewriteRule ^$ drupal-7.28/index.php [L]
RewriteCond %{DOCUMENT_ROOT}/drupal7%{REQUEST_URI} -f
RewriteRule .* drupal-7.28/$0 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* drupal-7.28/index.php?q=$0 [QSA]

